services:
  db:
    container_name: postgres_chat
    image: postgres:alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - postgres_chat:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  postgres_chat:

networks:
  backend:
